[submodule "lib/pugixml"]
	path = lib/pugixml
	url = git@github.com:zeux/pugixml
[submodule "lib/mcpat"]
	path = lib/mcpat
	url = git@camel.kaist.ac.kr:simplessd/mcpat
[submodule "lib/llvm-simplessd"]
	path = lib/llvm-simplessd
	url = git@camel.kaist.ac.kr:simplessd/llvm-simplessd
